<h2>Version Comparison</h2>
<div>
    <label for="versionA-select">Version A:</label>
    <select id="versionA-select">
        <option value="releaseJs/release_2025_0417.js">04/17/2025 - 7639</option>
        <option value="releaseJs/release_2021_0402.js">04/02/2021 - 7560</option>
    </select>
    <label for="versionB-select" class="margin-left-20px">Version B:</label>
    <select id="versionB-select">
        <option value="releaseJs/release_2025_0417.js">04/17/2025 - 7639</option>
        <option value="releaseJs/release_2021_0402.js">04/02/2021 - 7560</option>
    </select>
    <button id="compare-versions-button" class="compare-versions-button-style">Compare Versions</button>
</div>
<div id="version-comparison-results" class="margin-top-20px"></div>